.header{
    background-color: brown;
    color: white;
    text-align: center;
    border: 2px solid;
    font-size: larger;
    font-weight: 500;
    font-family: 'Courier New', Courier, monospace;
}